* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 7px;
  margin: 10px;
  min-width: 25px;
  background-color: #4cb5f9;
  border-radius: 5px;
  border: none;
  color: white;
}

img {
  width: 100px;
  height: 100px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid grey;
  padding: 10px;
  border-radius: 10px;
  background-color: #fafafa;
  margin-left: 16px;
  margin-bottom: 16px;
}

.head {
  display: flex;
  background-color: #4cb5f9;
  justify-content: end;
  margin-bottom: 16px;
  padding: 16px;
  color: white;
}

.content {
  text-align: center;
  margin-top: 10px;
}

.price {
  font-size: small;
}

.product {
  font-size: large;
  font-weight: bold;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}




